<h1 class="text-center mt-4">Listing All Articles</h1>

<div class="apple_pagination mt-3">
    <% if @articles.any?%>
    <%= will_paginate @articles, :container => false %>
    <%end%>
</div>

<%= render 'article'%>

<div class="apple_pagination mb-4">
    <% if @articles.any?%>
    <%= will_paginate @articles, :container => false %>
    <%end%>
</div>