 <footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to 'Ashish Bansal', 'https://github.com/AshishBansal2101' , class: 'text-white'%></small>
    </div>
  </footer>